# Session 1
- Data Science and Machine Learning

## Data Types

- Integer
- Floats
- Strings
- Booleans
- Lists
- Tuples
- Sets
- Dictionaries

In [ ]:
# use help to find out methods available to a data type

help(str)
help(int)
help(float)

## Integers
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
# Whole Numbers
100

In [ ]:
type(11001)

## Float
The difference between floating points and integers is decimal points. Floating point number can be represented as “1.0”, and integer can be represented as “1”. It is accurate up to 15 decimal places.

In [ ]:
1.0

In [ ]:
type(1.0)

## Basic Arithmetic
The basic arithmetic operations for real numbers are addition, subtraction, multiplication, and division

In [ ]:
# Addition
100 + 100

In [ ]:
2+2

In [ ]:
# Subtraction
2-2

In [ ]:
10-20

In [ ]:
# Multiplication
20 * 20

In [ ]:
100 * 2

In [ ]:
# Division
10/5

In [ ]:
250/3

In [ ]:
# Floor Division
10//6

In [ ]:
100//30

In [ ]:
# Modulo - To get the reminder
100%30

In [ ]:
10%6

In [ ]:
# Raised to Power
36**2

In [ ]:
2**10

In [ ]:
# Square-root
1500**0.5

In [ ]:
121**0.5

In [ ]:
# Order of Operation - BODMAS
10 + 25 - 6 / 0.5 * 5

In [ ]:
(10 + 25 - 6) / (0.5*5)

In [ ]:
125**(1/3)

In [ ]:
# Floats
type(0.5)

## Variable Assignment
Variables can store data of different types

In [ ]:
age = 22

In [ ]:
age

In [ ]:
age * age

In [ ]:
22 * 22

In [ ]:
#Dont start with a number
#Dont start with special characters
#NO SPACE

total_Cost = 1

In [ ]:
dami = 100

In [ ]:
dami

In [ ]:
# Example
first_test = 5
second_test = 10
attendance = 2
exam = 55

total_score = first_test + second_test + attendance + exam

total_score

In [ ]:
# Student Calculator

first_test = int(input("What is your score for first test: "))
second_test = int(input("What is your score for second test: "))
attendance = int(input("What is your score for attendance: "))
exam = int(input("What is your score for exam: "))

total_score = first_test + second_test + attendance + exam

total_score

## Strings
A String is a sequence of Unicode characters. In Python, String is called str. 
Strings are represented by using Double quotes or single quotes. 
If the strings are multiple, then it can be denoted by the use of triple quotes “”” or ”’. 
All the characters between the quotes are items of the string.

In [ ]:
# Strings - Text
"hello world"

In [ ]:
'hello world'

In [ ]:
print("Hello World")

In [ ]:
type("Damilola")

In [ ]:
"i'm a boy"

In [ ]:
len("Ademola")

In [ ]:
#tags - tab, Next line
print("my name is \tEfemena")

print("My name is \nEfemena")

In [ ]:
name = "Chuka"

In [ ]:
name

In [ ]:
first_name = input("What is your first name: ")
last_name = input("What is your last name: ")

full_name = first_name + " " + last_name

full_name

In [ ]:
len(full_name)

## Indexing and Slicing
- Indexing: Indexing is used to obtain individual elements.
- Slicing: Slicing is used to obtain a sequence of elements.


Indexing starts from 0. Index 0 represents the first element in the sequence.
Negative indexing starts from -1. Index -1 represents the last element in the sequence.

In [ ]:
#Indexing
full_name[0]

In [ ]:
full_name[5]

In [ ]:
full_name[-2]

In [ ]:
# Slicing
full_name

In [ ]:
full_name[:]

### [START : STOP : STEP]
     [0 : 14 : 2]

In [ ]:
full_name[1:8]

In [ ]:
full_name[5:]

In [ ]:
full_name[0:4]

In [ ]:
full_name[0::5]

In [ ]:
full_name[::-1]

In [ ]:
#built-in methods in strings
country = "ireland"

In [ ]:
country

In [ ]:
country.capitalize()

In [ ]:
country.upper()

In [ ]:
comment = "I love 10Alytics"

In [ ]:
comment.split()

## Print Formatting
There are several ways to present the output of a program, data can be printed in a human-readable form, or written to a file for future use, or even in some other specified form. Sometimes user often wants more control over the formatting of output than simply printing space-separated values. There are several ways to format output.

In [ ]:
name = "Damilola"
age = 20

In [ ]:
# .format method
print("my name is {} and i am {} years old".format(name, age))

In [ ]:
first_name = input("What is your first name: ")
last_name = input("What is your last name: ")

full_name = first_name + " " + last_name

print("My first name is {} and my last name is {}. So my full name is {}".format(first_name, last_name, full_name))

In [ ]:
#Placeholder

name = "Damilola"
age = 20

print("my name is %s and i am %s years old" %(name, age))

In [ ]:
#F-strings

name = "Damilola"
age = 20

print(f"my name is {name} and i am {age} years old")

## List
An ordered sequence of items is called List. It is a very flexible data type in Python. There is no need for the value in the list to be of the same data type. The List is the data type that is highly used data type in Python. List datatype is the most exclusive datatype in Python for containing versatile data. It can easily hold different types of data in Python.

In [ ]:
name = ["Dami", "Uche", "Jumoke", "Demola"]

In [ ]:
name[0::]

In [ ]:
name

In [ ]:
age = [1,2,3,4,5]

In [ ]:
age

In [ ]:
my_list = ["Yomi", 10, 10.5, "10Alytics", 100.2]

In [ ]:
type(my_list)

In [ ]:
len(my_list)

In [ ]:
#Indexing and Slicing
my_list[0]

In [ ]:
my_list[4]

In [ ]:
my_list[-1]

In [ ]:
#Slicing
my_list[0::3]

In [ ]:
my_list[1::3]

In [ ]:
name

In [ ]:
name_1 = name + ["Sodiq"]

name_1

In [ ]:
name.append("Oreoluwa")

In [ ]:
name

In [ ]:
name.append("Chuka")

In [ ]:
name

In [ ]:
name.pop()

In [ ]:
name.pop()

In [ ]:
name.pop(0)

In [ ]:
name

In [ ]:
list_1 = [10, 1, 2, 3, 4, 20, 35]

In [ ]:
list_1.reverse()

list_1

In [ ]:
list_1.sort()

list_1

## Dictionaries
Dictionary is a type of python data type in which collections are unordered, and values are in pairs called key-value pairs. This type of data type is useful when there is a high volume of data. Braces {} (curly brackets) are used to define dictionaries data type in Python. A Pair in the dictionary data type is an item which is represented as key:value. The value and the key can be of any data type.

In [ ]:
# Creating a dictionary
my_dict = {"key1": "Value1", "key2":"value2", "key3":"value3"}

In [ ]:
#calling the dictionary
my_dict

In [ ]:
# calling the value located in key2
my_dict["key2"]

In [ ]:
animal = {"dog":"Bingo", "cat":"Murphy", "Donkey":"Chris", "Lion": "Damilola"}

In [ ]:
animal

In [ ]:
# calling the value located in dog
animal["dog"]

In [ ]:
#Using dictionary to create a customer profile
customer = {"name": "Chidozie", "age": 21, "address": "no 42 kowonleru Junction, Isale Eko", "Phone_no": "08055674125"}

In [ ]:
# calling the details located on address on the dictionary called customer
customer["address"]

In [ ]:
dist_1 = {"key1": 12.56, "Key2": [12, 35, 46], "Key3": ["Chidi", "Chuka", "Emeka"]}

In [ ]:
dist_1["Key2"][2]

In [ ]:
# creating an empty dictionary
dt = {}

In [ ]:
# adding details to the variable  called dt , storing key 'name' with 'micheal' as the value
dt["name"] = "Michael"

In [ ]:
# adding details to the variable  called dt , storing key 'age 'with '55' as the value
dt["age"] = "55"

In [ ]:
# below we call the dictionary and the keys and values contained in it appears
dt

In [ ]:
# we created an empty dictionary that will be populated by input
cost = {}

name = input("What is your name: ")
fixed_cost = int(input("What is your fixed cost: "))
variable_cost = int(input("What is your variable cost: "))

total_cost = fixed_cost + variable_cost

cost["name"] = name
cost["fixed_cost"] = fixed_cost
cost["variable_cost"] = variable_cost
cost["total_cost"] = total_cost

cost

In [ ]:
# to see the value contained in the key'name'
cost["name"]

In [ ]:
# Below we are calling out all the keys located in the dictionary called cost
cost.keys()

In [ ]:
# Below we are calling out all the values located on the keys of the  dictionary called cost
cost.values()

## Tuple
A Tuple is a sequence of items that are in order, and it is not possible to modify the Tuples. The main difference list and tuples are that tuple is immutable, which means it cannot be altered. Tuples are generally faster than the list data type in Python because it cannot be changed or modified like list datatype. The primary use of Tuples is to write-protect data. Tuples can be represented by using parentheses (), and commas are used to separate the items. 

Days of the week, Months of the year, DOB, etc

In [ ]:
tup = (1,2,3,4,5)

In [ ]:
tup

In [ ]:
type(tup)

In [ ]:
len(tup)

In [ ]:
tup

In [ ]:
tup_1 = (1, 2.4, "Wale", "10Alytics", "Efe",1,1,1,1,1,1,1,1,1,1)

In [ ]:
len(tup_1)

In [ ]:
tup_1[-13]

## Set
The Collection of Unique items that are not in order is called Set. Braces {} are used to defined set and a comma is used to separate values. One will find that the items are unordered in a set data type.

Duplicates are eliminated in a set and set only keeps unique values. Operations like intersection and union can be performed on two sets.

In [ ]:
a = {2,2,2,2,1,1,1,3,4,5,6,6,7,7,7}

In [ ]:
a

In [ ]:
name = set()

In [ ]:
name.add("Dami")

In [ ]:
name.add("jumoke")

In [ ]:
name.add("Yemi")

In [ ]:
name

In [ ]:
num = [1,1,1,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6,7,7,7,7,8,8,8,8,8]

In [ ]:
st = set(num)

In [ ]:
st

## Booleans
There can be only two types of value in the Boolean data type of Python, and that is True or False.

In [ ]:
type(1 == 1)

In [ ]:
type(False)

In [ ]:
10 >= 20

## Comparison Operators
Comparison operators are used to compare two values:

* == Equals to
* != Not Equals to
* #> Greater than
* #>= Greater than or equals to
* < Less than
* <= Less than of equals to

In [ ]:
10<=20

In [ ]:
20 <= 20

In [ ]:
10 != 100

## If, Elif, Else Statement
The Python if statement is same as it is with other programming languages. It executes a set of statements conditionally, based on the value of a logical expression.

In Python if .. else statement, if has two blocks, one following the expression and other following the else clause. 

The if-elif-else statement is used to conditionally execute a statement or a block of statements. Conditions can be true or false, execute one thing when the condition is true, something else when the condition is false.

In [ ]:
name = input("What is your name: ")

if name == "Efemena":
    print(f"Welcome to our kingdom {name}")
else:
    print(f"You are not welcome here. Goodbye {name}")

In [ ]:
name = input("What is your name: ")

if name == "Efemena":
    print(f"Welcome to our kingdom {name}")
elif name == "Ore":
    print(f"Welcome to our Palace {name}")
elif name == "Demola":
    print(f"Welcome to our Country {name}")
elif name == "Chidozie":
    print(f"Welcome to our Village {name}")
elif name == "Yomi":
    print(f"Welcome to our Home {name}")
else:
    print(f"You are not welcome here. Goodbye {name}")

In [ ]:
name = input("What is your name: ")
f_test = int(input("What is the score for your first test: "))
s_test = int(input("What is the score for your second test: "))
attd = int(input("What is the score for your attendance: "))
exam = int(input("What is the score for your exam: "))

print("-------------------------------------------")

total_score = f_test + s_test + attd + exam

if total_score >= 70:
    grade = "A"
elif total_score >= 60:
    grade = "B"
elif total_score >= 50:
    grade = "C"
elif total_score >= 40:
    grade = "D"
else:
    grade = "F"

print(f"Hello {name}, Your total score is {total_score} and your grade is {grade}")

Example

* customer type = Corporate and Retail
* amount = 

* corporate
* amt < 10000 = 20%
* amt < 40000 = 25%
* amt >100000 = 40%

* Retail
* amt < 10000 = 10%
* amt < 40000 = 15%
* amt >100000 = 30%

* print the amount
* print the discount
* print the amt - discount

In [ ]:
cust_type = input("what type of customer are you: ")
amt = int(input("What is your total amount: "))


if cust_type == "Corporate":
    if amt <= 10000:
        discount = 0.2
    elif amt <= 40000:
        discount = 0.25
    else:
        discount = 0.4
        
if cust_type == "Retail":
    if amt <= 10000:
        discount = 0.1
    elif amt <= 40000:
        discount = 0.15
    else:
        discount = 0.3

t_amt = amt - (amt * discount)

print("---------------------------------")
print(f"You total amount is {amt}")
print(f"Based on your customer type and amount, your discout is {discount}")
print(f"Your total amount is {t_amt}")

In [ ]:
customerType = input("what type customer are you: ")
amount = int(input("whats your total amount: "))

if customerType == "corporate" and amount <= 10000:
    discount = 0.2
elif customerType == "corporate" and amount <= 40000:
    discount = 0.25
elif customerType == "corporate" and amount > 40000:
    discount = 0.4
    
if customerType == "retail" and amount <= 10000:
    discount = 0.1
elif customerType == "retail" and amount <= 40000:
    discount = 0.15
elif customerType == "retail" and amount > 40000:
    discount = 0.3


total_amt = amount - (amount * discount)
        
print("-----------------------------------")

print(f"total amount is {amount}")
print(f"based on your customer type and amount, your discount is {discount}")
print(f"total amount to be paid {total_amt}")

In [ ]:
print("efe /nmena")

## For Loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list1

In [ ]:
for num in list1:
    print(num)

In [ ]:
# Print all even numbers

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i % 2 == 0:
        print(f"{i} is an even number")

In [ ]:
# Print all odd numbers

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i % 2 == 1:
        print(f"{i} is an odd number")

In [3]:
list1 = [1,2,3,4,5,6,7,8,9,10]
sum_list = 0

for i in list1:
    sum_list = sum_list + i
    print(sum_list)

1
3
6
10
15
21
28
36
45
55

In [4]:
for i in list1:
    print("10Alytics")

10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics

In [5]:

# the code below takes five different score adds them together and prints out the total 
num_times = [1,2,3,4,5]
score = 0

print("Calculator")

for i in num_times:
    print(score)
    num = int(input("what is your score: "))
    score = score + num
    
    
    
print("-----------------------------")    
print(f"Your final score is {score}")

Calculator
0
what is your score: 30
30
what is your score: 45
75
what is your score: 50
125
what is your score: 70
195
what is your score: 80
-----------------------------
Your final score is 275

## While Loop
The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know the number of times to iterate beforehand.

In [7]:
name = input("What is your name: ")

while name == "Efemena":
    print("10Alytics")
    name = input("What is your name: ")

What is your name: 'Efemena'

In [8]:

# the while loop states to print the value of X along with the print statement as long as its less than 10 
x = 0

while x < 10:
    print(f"{x} is currently less than 10")
    x = x + 1

0 is currently less than 10
1 is currently less than 10
2 is currently less than 10
3 is currently less than 10
4 is currently less than 10
5 is currently less than 10
6 is currently less than 10
7 is currently less than 10
8 is currently less than 10
9 is currently less than 10

In [10]:
# Continue the while loop aslong as the answer is yes but break out of the code and say 'Goodbye if the answer is no'
answer = "yes"

while answer == "yes":
    name = input("What is your name: ")
    question = input("What training are you interested in: ")
    print("-------------------------------")
    print(f"hello {name}")
    print(f"The training on {question} will commence shortly")
    
    answer = input("Do you want to continue: yes/no  ")
    
print("Goodbye")

What is your name: garry
What training are you interested in: sql
-------------------------------
hello garry
The training on sql will commence shortly
Do you want to continue: yes/no  no
Goodbye

## Function
In Python, a function is a group of related statements that performs a specific task.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable.

Furthermore, it avoids repetition and makes the code reusable.

In [ ]:
dami = 22
chinyere = 32
nathan = 26

#pry2

Arit = 42
Segun = 28
kemi = 36

#addp = Arit + Segun + kemi : Pls comment out the code as you wish to create anew function below
#addp
# dami+ chinyere + nathan

In [ ]:
# note if code is not working go into eachline then run it  then come back to the line you wish to run and run it again
def sum_age(x, y, z): 
    addition_age = x + y + z
    return addition_age

In [ ]:
#here we are calling the function and placing the variables in pry 1
sum_age(dami, chinyere , nathan)

In [ ]:
#here we are calling the function and placing the variables in pry 2
sum_age(Arit, Segun , kemi)

In [ ]:
#here we are calling the function and placing the variables values in it as required by the code function
def sum_ages(x=0, y=0, z=0): 
    addition_age = x + y + z
    return addition_age

In [ ]:
sum_ages(15, 10, 30)

In [ ]:
def tprint():
    input_text = input("enter a text to print")
    return input_text

In [ ]:
tprint()

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
sum(list1)

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    # Do stuff here
    # Return desired result

In [ ]:
def greeting():
    print("hello")

In [ ]:
greeting()

In [ ]:
def greeting():
    name = input("What is your name: ")
    print(f"Hello {name}")

In [ ]:
greeting()

In [11]:
#This function the code takes three range of numbers, add them to each other and return the sum of the three numbers
def addition():
    num = 0
    for i in range(3):
        num_1 = float(input("Enter a number: "))
        num += num_1
    return num   
   # print("-------")
   # return print(f"Your total is: {num}")

In [12]:
addition()

Enter a number: 6
Enter a number: 7
Enter a number: 13

26.0

In [13]:
#This function below, the code takes four range of numbers, add them to each other and return the sum with a message
def additions():
    num = 0
    for i in range(4):
        num_1 = float(input("Enter a number: "))
        num += num_1
    print("-------")
    return print(f"Your total is: {num}")

In [14]:
test_class = additions()

Enter a number: 4
Enter a number: 5
Enter a number: 12
Enter a number: 7
-------
Your total is: 28.0

In [15]:
# This code is a function that allows you to square a num
def sqr(x):
    num = x ** 2
    return num

In [16]:
sqr(100)

10000

In [18]:
# Convert any username into a lower case

def convert(name):
    user = name.lower()
    return user

In [19]:
convert("EFEMENA")

'efemena'

In [21]:
# the function converts name inputed to lower case
def convert():
    name = input("what is your name: ")
    user = name.lower()
    return user

In [22]:
convert()

what is your name: Shanee

'shanee'

In [23]:
# This function is called ans is imbeded in the While loop that runs once the response of while loop being yes and takes input
def ans():
    answer = "yes"

    while answer == "yes":
        name = input("What is your name: ")
        question = input("What training are you interested in: ")
        print("-------------------------------")
        print(f"hello {name}")
        print(f"The training on {question} will commence shortly")
    
        answer = input("Do you want to continue: yes/no: ")
    
    print("Goodbye")

In [24]:
ans()

What is your name: Shanna
What training are you interested in: fund accounting
-------------------------------
hello Shanna
The training on fund accounting will commence shortly
Do you want to continue: yes/no: no
Goodbye

In [30]:
# Guess game its taking a set of number ranging from 1 to to 5 with three trails and shuffles the number if you guess the third  digit 
# correcly by the third time you win

from random import shuffle

list_1 = list(range(1,5))

def game(trials=5):
    print(f"You have {trials} trials")
    names= str(input("what is your name: "))
    print(f"Welcome {names} to our gaming platform  throw your dice")
    
    for i in range(trials):
        shuffle(list_1)
        guess = list_1[3]
        num = int(input("What is your lucky number: "))
        
        if guess == num:
            print("You are the WINNER!!!")
        else:
            print("Please try again")
            
    return print("You are done")

In [31]:
game(3)

You have 3 trials
what is your name: Sammy
Welcome Sammy to our gaming platform  throw your dice
What is your lucky number: 4
Please try again
What is your lucky number: 3
Please try again
What is your lucky number: 4
You are the WINNER!!!
You are done

In [32]:
#Here we created a function that tells us the total cost , Profit and Selling price
def total_cost(fixed_cost, variable_cost, mixed_cost):
    bc = fixed_cost + variable_cost + mixed_cost
    pc = bc * 0.40
    sp = bc+pc
    return print(f" The total cost is {bc}, The profit is : {pc} and the Selling Price is {sp}")

In [33]:
total_cost(10,20,100)

 The total cost is 130, The profit is : 52.0 and the Selling Price is 182.0

### Map Function
Mapping consists of applying a transformation function to an iterable to produce a new iterable. Items in the new iterable are produced by calling the transformation function on each item in the original iterable.

In [35]:
# the map function allows us to combine functions .The function called sqr, returns num as a sqquared value of x
def sqr(x):
    num = x ** 2
    return num

In [36]:
# num is taking a list as its content
num = list(range(1,11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# The map function combines the two
list(map(sqr, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
# we have defined a function called grade, which returns alphabet as results based on the value of x 

def grade(x):
    if x >= 70:
        result = "A"
    elif x >= 60:
        result = "B"
    elif x >= 50:
        result = "C"
    else:
        result = "F"
        
    return result

In [40]:
#here we have a variable which contains a list
score = [50, 72, 45, 20, 63, 60]

In [41]:
# we use the map function to combine the variable and the function grade together
list(map(grade, score))

['C', 'A', 'F', 'F', 'B', 'B']

In [42]:
#here we craeted the same code using a for loop note we changed the variable name for list to 'scores'
# we combined the grade function and the mark in the for loop
scores = [50, 72, 45, 20, 63, 60]
for score in scores:
    mark = grade(score)
    
    print(mark)

C
A
F
F
B
B

In [43]:
# This code  replicate the inbuilt map function

def our_map_function():
   
    scores_list = []
    for score in scores:
        mark = grade(score)
        scores_list.append(mark)
    
    return print(scores_list)

In [44]:
our_map_function()

['C', 'A', 'F', 'F', 'B', 'B']

In [47]:
# in this for loop we say go through all the numbers indicated in scores and provide its equvalent grade 
# using the print statement below
for i in scores:
    print(f'{i} is equivalent to {grade(i)}')

50 is equivalent to C
72 is equivalent to A
45 is equivalent to F
20 is equivalent to F
63 is equivalent to B
60 is equivalent to B

In [48]:
# if the length of your name is an even number return Yes else No

name = ["Damilola", "Michael", "Demola", "Jumoke", "Jay", "Chidozie"]

def even_odd(names):
    if len(names) % 2 == 0:
        category =  "Even"
    else:
         category = "Odd"
    
    return category

In [49]:
list(map(even_odd, name))

['Even', 'Odd', 'Even', 'Even', 'Odd', 'Even']

### Filter Function
Filtering consists of applying a predicate or Boolean-valued function to an iterable to generate a new iterable. Items in the new iterable are produced by filtering out any items in the original iterable that make the predicate function return false.

In [51]:
# fi;ter function filters the data to meet a particular condition
# the code below will filter for the name that the lenght is even  and returns only the name that lenght is even
name = ["Damilola", "Michael", "Demola", "Jumoke", "Jay", "Chidozie"]

def even_odd(x):
    if len(x) % 2 == 0:
        return x

In [52]:
list(filter(even_odd, name))

['Damilola', 'Demola', 'Jumoke', 'Chidozie']

In [53]:
# this variable is taking alist that are within the range of 1 to 21
english = list(range(1, 21))
english

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [54]:
# the function called even is returning only even number 
def even(x):
    if x % 2 == 0:
        return x

In [55]:
# calling the list with filter function  and even returns only the even nos
list(filter(even, english))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Lambda Expressions
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [56]:
# Below we create a lambda expression  called example which takes x, y, adds it and multiply the addition by 2
example= lambda x,y: 2*(x+y)
example
example(2,5)

14

In [57]:
# here we create the lambda called Rs that contains a only one varaible and we say add 10 the variable we specify
# below we specified the variable a as 15 and when we called Rs it added 10 to it we got 25(15+10)
Rs = lambda a: a + 10
print(Rs(15))

25

In [58]:
# here we created a lambda called num which takes three varaible(a,b.c), the multiply a by b and subtract c
# below we specified lambda variables as 10,5, 3 (10*5 = 50 , 50-3 = 47)
num = lambda a, b, c: a*b-c
print(num(10, 5, 3))

47