In [1]:
type(5000)

int

In [2]:
5000*4

20000

In [3]:
10.5

10.5

In [4]:
type(10.5)

float

In [5]:
2+2

4

In [6]:
4*4

16

In [7]:
16/3

5.333333333333333

In [8]:
100//3

33

In [9]:
100%9

1

In [10]:
2500//40

62

In [11]:
2500%40

20

In [12]:
# double star means raised to power
2**4

16

In [13]:
1+3/10*6

2.8

In [14]:
(1+3)/(10*6)

0.06666666666666667

In [15]:
(1+3)/10*6

2.4000000000000004

In [16]:
income=2000

In [17]:
income

2000

In [18]:
income*2

4000

In [19]:
income**2

4000000

In [20]:
efe = income/100
efe

20.0

In [21]:
messi =5000

In [22]:
ronaldo = messi /2
ronaldo

2500.0

In [26]:
f_test = 10
s_test = 20
attdce = 5
exam = 30
tscore = f_test+s_test+attdce+exam
tscore

65

In [27]:
f_test = float(input("What is your first test score?"))
s_test = float(input("What is your second test score?"))
attdce = float(input("What is your attendance score?"))
exam = float(input("What is your exam score?"))
tscore = f_test+s_test+attdce+exam
tscore

What is your first test score?15.2
What is your second test score?12.5
What is your attendance score?4
What is your exam score?10.4

42.1

In [28]:
f_name ="Efemena"
f_name

'Efemena'

In [32]:
first_name ="ifeoma"
last_name = "Ikpro"
full_name = first_name+  " "  + last_name
full_name

'ifeoma Ikpro'

In [7]:
#full name generator
first_name = str(input("What is your First Name?"))
last_name = str(input("What is your last Name?"))
full_name = first_name+  " "  + last_name
full_name

What is your First Name?tola
What is your last Name?sheba

'tola sheba'

In [2]:
#Indexing and Slicing

In [3]:
full_name

'Baba Suwe'

In [4]:
full_name[5]

'S'

In [5]:
#SLICING-[START:STOP: STEP]

In [9]:
full_name[0:4]

'tola'

In [8]:
full_name[5:]

'sheba'

In [10]:
num ="123456789"

In [12]:
num[0:5]

'12345'

In [13]:
num[5:]

'6789'

In [14]:
#Negative Indexing
num[-2]

'8'

In [15]:
num[-1]

'9'

In [16]:
#example of STEP(Here it jumps twice)
#This can be used to generate odd numbers
num[1::2]

'2468'

In [17]:
num[0::2]

'13579'

In [20]:
# This can be used to generate even numbers
num[0::2]

'13579'

In [21]:
#Print Formatting
# . Format method
# placeholder
# f.strings

In [22]:
# .format method
name= "Steven"
age = "40"

print("my name is {} and I am years old".format(name,age))

my name is Steven and I am years old

In [24]:
# Placeholder Example
name= input("What is your name")
age = int(input("How old are you"))

print("my name is %s and I am %s years old"%(name,age))

What is your nameJames Anthony
How old are you45
my name is James Anthony and I am 45 years old

In [28]:
# f.strings
name= input("What is your name")
age = int(input("How old are you"))

print(f"my name is {name} and I am {age} years old")

What is your name Davis Jones
How old are you44
my name is  Davis Jones and I am 44 years old

In [29]:
# List 
# An ordered sequesnce of item is called a list
# The list is the data type that is highly used data type in Python
# Contains versatile data

In [30]:
names = ["Efemena", "10Alytics", "Ibrahim", "Ayo", "Jefferson"]

In [31]:
names

['Efemena', '10Alytics', 'Ibrahim', 'Ayo', 'Jefferson']

In [32]:
type(names)

list

In [34]:
my_details=[1,2,3,"ok","Dayo", 2,8]

In [35]:
my_details

[1, 2, 3, 'ok', 'Dayo', 2, 8]

In [36]:
type(my_details)

list

In [37]:
# Indexing and Slicing 
# position(0,          1,           2,        3,      4)
names = ["Efemena", "10Alytics", "Ibrahim", "Ayo", "Jefferson"]

In [39]:
# Example of sequence
names[0]

'Efemena'

In [40]:
names[4]

'Jefferson'

In [41]:
# example of stop
names[0:4]

['Efemena', '10Alytics', 'Ibrahim', 'Ayo']

In [42]:
names[1:3]

['10Alytics', 'Ibrahim']

In [43]:
# Example of STEP
names[1::3]

['10Alytics', 'Jefferson']

In [44]:
names

['Efemena', '10Alytics', 'Ibrahim', 'Ayo', 'Jefferson']

In [45]:
# To add aname to a list
names.append("ubong")

In [46]:
names

['Efemena', '10Alytics', 'Ibrahim', 'Ayo', 'Jefferson', 'ubong']

In [47]:
names.append("Ademola")
names

['Efemena', '10Alytics', 'Ibrahim', 'Ayo', 'Jefferson', 'ubong', 'Ademola']

In [48]:
#To remove from the list the last data added to the list
names.pop()
names

['Efemena', '10Alytics', 'Ibrahim', 'Ayo', 'Jefferson', 'ubong']

In [49]:
# To Transform the list upside down
names.reverse()
names
# From below we see the position of the data has changed,, the 1st is now last

['ubong', 'Jefferson', 'Ayo', 'Ibrahim', '10Alytics', 'Efemena']

In [1]:
#Dictionaries
# Dictionary is a type of python data type in which collections is unordered,
# and values are in pairs called key-value pairs

In [2]:
my_dict = {"key1":"value1", "key2":"value2"}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
# This code below give all the keys available
my_dict.keys()

dict_keys(['key1', 'key2'])

In [4]:
# This code below gives all the values available
my_dict.values()

dict_values(['value1', 'value2'])

In [5]:
my_dict["key1"]

'value1'

In [7]:
bio_data ={"name":"Tolani Johnson", "Age":27, "Address":"16 Abule egba Akowonjo,Lagos", "Phone Nos" : 48761508}
bio_data

{'name': 'Tolani Johnson',
 'Age': 27,
 'Address': '16 Abule egba Akowonjo,Lagos',
 'Phone Nos': 48761508}

In [8]:
bio_data["name"]

'Tolani Johnson'

In [10]:
bio_data["Address"]

'16 Abule egba Akowonjo,Lagos'

In [13]:
# to add data to the dictionary follow the code below
bio_data["colour"]="Black"
bio_data["colour of Eyes"] ="Black"
bio_data

{'name': 'Tolani Johnson',
 'Age': 27,
 'Address': '16 Abule egba Akowonjo,Lagos',
 'Phone Nos': 48761508,
 'colour': 'Black',
 'colour of Eyes': 'Black'}

In [15]:
# code to add a value in a list format to an existing Dictionary
bio_data["product"]=["Car Insurance", "Life Insurance", "Home Insurance"]
bio_data["children"]= ["john","jeffrey", "jane"]
bio_data["spouse"]="Steve Johnson"
bio_data

{'name': 'Tolani Johnson',
 'Age': 27,
 'Address': '16 Abule egba Akowonjo,Lagos',
 'Phone Nos': 48761508,
 'colour': 'Black',
 'colour of Eyes': 'Black',
 'product': ['Car Insurance', 'Life Insurance', 'Home Insurance'],
 'children': ['john', 'jeffrey', 'jane'],
 'spouse': 'Steve Johnson'}

In [16]:
bio_data["children"]

['john', 'jeffrey', 'jane']

In [18]:
bio_data["product"][2]

'Home Insurance'

In [19]:
#Tuple
# A tuple is a sequense pf items that are in order
# and it is not possible to modify the Tuples

In [21]:
age =[12,14,16,78,90,35]
age

[12, 14, 16, 78, 90, 35]

In [22]:
# code below changes the data in index position of a type list 0 to 24
age[0]=24
age

[24, 14, 16, 78, 90, 35]

In [23]:
# Code changes the data in the last position of the type list to 95
age[-1] = 95
age

[24, 14, 16, 78, 90, 95]

In [25]:
# Code below is assigning data to a variable type tuple
tup=(1,2,3,4,5,"Tonto", "Artist")
tup

(1, 2, 3, 4, 5, 'Tonto', 'Artist')

In [26]:
# code below is calling the data in position 0 of the tuple
tup[0]

1

In [28]:
tup[3]

4

In [30]:
len(tup)

7

In [31]:
#Set
#The collection of unique items that are not in order is called set

In [32]:
# Code below assigns data to the set
num={1,2,3,4,4,4,4,4,5,5,5,5,6,6,6,7,7,8,8,8,9,9,0}

In [33]:
num

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
names=["Adeiza", "Habibat","Suleiman","Efemena", "Analytics", "Adeiza", "Efemena"]

In [35]:
# Code below helps us to identify/ call unique names
# whilst ignoring the duplicate
u_names= set(names)
u_names

{'Adeiza', 'Analytics', 'Efemena', 'Habibat', 'Suleiman'}

In [36]:
#Code below helps to add a unique name to the set
u_names.add("Adeoye")
u_names

{'Adeiza', 'Adeoye', 'Analytics', 'Efemena', 'Habibat', 'Suleiman'}

In [37]:
# Booleans
#True or False

In [38]:
#Code below is telling us the two values are the same
1==1

True

In [39]:
# code below is asking us what type is the data
type (1==1)

bool

In [40]:
# Code below is comparing these data set to one another
# note it returns False because eventhough its the same word its case sentive
"Efemena" == "efemena"

False

In [41]:
#code below is asking us what data type is variable a
a= 100>2000
type(a)

bool